
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Finger+Paint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400..800&display=swap');


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(249, 244, 244);
}

canvas {
  border: 2px solid rgb(56, 6, 6);
}